/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
}

header {
    background-color: #3f51b5;
    color: white;
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

main {
    margin: 40px auto;
    padding: 20px;
    max-width: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.success-message {
    color: #3f51b5;
    font-weight: bold;
    margin-bottom: 15px;
}

.form-group {
    padding: 10px;
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

input[type="text"]:focus {
    outline: none;
    border-color: #3f51b5;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.register-button {
    background-color: #3f51b5;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    margin-top: 10px;
}

.register-button:hover {
    background-color: #3f51b5;
}

.back-link {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #007BFF;
    font-size: 1.1em;
}

.back-link:hover {
    color: #0056b3;
    text-decoration: none;
}

input[type="file"] {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    font-size: 1em;
    margin-top: 5px;
    cursor: pointer;
}

input[type="file"]:focus {
    outline: none;
    border-color: #3f51b5;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}
